<h1>View All Reports </h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% for (let report of reports) { %>
      <tr>
        <td><a href="/reports/<%= report.id %>"><%= report.id %></a></td>
        <td><a href="/reports/<%= report.id %>"><%= report.name %></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
