<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Have a pest problem?</h1>
        <p>Submit a report to let pest control know</p>
        <a href="/submissions/step1" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Report</a>
      </div>
    </div>
  </div>
</div>
