<div class="row justify-content-center" role="main">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <h1 class="h2">Invite accepted</h1>
    <p>Use the drop-down selector to switch between properties.</p>
    <a href="/admin" class="btn btn-primary btn-block">Go to Admin</a>
  </div>
</div>
